@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Balsamiq Sans', cursive,
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://i.pinimg.com/originals/6e/7f/f4/6e7ff4f2872ecdf30e8955a424d766b7.jpg");
  background-repeat: no-repeat;
  /* background-position: center; */
  color: white
}

@media only screen and (max-width: 580px) {
  body {
    background-color: lightblue;
    background-repeat: repeat;
  }

  .page{
    margin-left: -200px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
